:root{
    --orange: #e67e22;
    --black: #333;
    --light-color: #777;
    --border: .1rem solid rgba(0,0,0,.2);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

@media (max-widht:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem;
    }
    section{
        padding: 2rem;
    }
    .container{
        grid-template-columns: 2fr 1fr;
    }
    
}

@media (max-width:768px){
    #menu-bars{
        display: inline-block;
    }
    .header .pesquisa{
        position: absolute;
        top: 100%; left: 0%; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }
    .header .navbar{
        position: absolute;
        top: 100%; left: 0%; right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;
        display: none;
    }
    .header .navbar.active{
        display: block;
    }
    .header .navbar a{
        display: block;
        background: #f7f7f7;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        border: var(--border);
    }
    .container{
        grid-template-columns:1fr;
        gap: 0;
    }
    .container .posts-container .post .image{
        height: 30rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .contatos form .input-box input{
        width: 100%;
    }
}